---
import Main from "@/layouts/main.astro";
import { ModeToggle } from "@/components/shared/ModeToggle";
---

<Main title="Home" description="">
  <section class="mx-auto mt-20 text-justify">
    <!-- Page content goes here -->
  </section>
</Main>

<!-- <ModeToggle client:load /> -->